<p>
  <a href="javascript:void(0);" routerLink="/not-found">Navigate forward</a>
</p>
<form [formGroup]="form" (ngSubmit)="handleSubmit()">

  <div class="container">
    <label for="firstname"><b>FirstName</b></label>
    <input type="text" placeholder="Enter FirstName" formControlName="firstname">
    <input type="hidden" formControlName="id">
    <div *ngIf="isSubmitted && firstname?.invalid" class="err">
      <div *ngIf="isSubmitted && firstname?.errors?.['required']"><b>FirstName is required</b></div>
    </div>

    <label for="lastname"><b>LastName</b></label>
    <input type="text" placeholder="Enter LastName" formControlName="lastname">
    <div *ngIf="isSubmitted && lastname?.invalid" class="err">
      <div *ngIf="isSubmitted && lastname?.errors?.['required']"><b>LastName is required</b></div>
    </div>

    <button type="submit">Save</button>
  </div>
</form>
