<p style="color: red;" *ngIf="$error | async as errorMessage">
  Error - {{ errorMessage }}
</p>
<table>
  <tr>
    <th>ID</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Action</th>
  </tr>
  <tr *ngIf="($users | async)?.length == 0">
    <td colspan="4" style="color: red; text-decoration: solid; text-align: center;" >
      Loading...
    </td>
  </tr>
  <tr *ngFor="let user of $users | async; index as i" (dblclick)="selectUser(user)">
    <td>{{ user.id }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>
      <button (click)="deleteUser(user)">Delete</button>
    </td>
  </tr>
</table>
